SHOPPING_POSTGRES_USER=
SHOPPING_POSTGRES_PASSWORD=
SHOPPING_POSTGRES_DB=
SHOPPING_POSTGRES_HOST=
SHOPPING_POSTGRES_PORT=
SHOPPING_POSTGRES_TIMEOUT=


REDIS_ADDR=

JWT_SECRET=
JWT_DURATION=24h

LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

TIME_ZONE=UTC


TLS_ENABLED=false
TLS_CERT_FILE=
TLS_KEY_FILE=
TLS_CA_FILE=

GRPC_PORT=50060
METRICS_PORT=9097

KAFKA_BROKERS=