.env
.env.local
.env.*.local
*.env


backend/
services/

logs/
*.log
out/logs/

pgdata/
out/pgdata/
*.pgdata

redisdata/
out/redisdata/

*.tmp
*.swp
*.temp
tmp/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

*.test
*.out

*.exe
*.exe~
*.dll
*.so
*.dylib
bin/