JWT_SECRET=
JWT_DURATION=24h

REDIS_ADDR=

KAFKA_BROKERS=

LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

TIME_ZONE=

TLS_ENABLED=
TLS_CERT_FILE=
TLS_KEY_FILE=
TLS_CA_FILE=

FINANCE_POSTGRES_USER=
FINANCE_POSTGRES_PASSWORD=
FINANCE_POSTGRES_DB=
FINANCE_POSTGRES_HOST=
FINANCE_POSTGRES_PORT=
FINANCE_POSTGRES_TIMEOUT=

AUTH_POSTGRES_USER=
AUTH_POSTGRES_PASSWORD=
AUTH_POSTGRES_DB=
AUTH_POSTGRES_HOST=
AUTH_POSTGRES_PORT=
AUTH_POSTGRES_TIMEOUT=

USERS_POSTGRES_USER=
USERS_POSTGRES_PASSWORD=
USERS_POSTGRES_DB=
USERS_POSTGRES_HOST=
USERS_POSTGRES_PORT=
USERS_POSTGRES_TIMEOUT=

SHOPPING_POSTGRES_USER=
SHOPPING_POSTGRES_PASSWORD=
SHOPPING_POSTGRES_DB=
SHOPPING_POSTGRES_HOST=
SHOPPING_POSTGRES_PORT=
SHOPPING_POSTGRES_TIMEOUT=

SAGA_POSTGRES_USER=
SAGA_POSTGRES_PASSWORD=
SAGA_POSTGRES_DB=
SAGA_POSTGRES_HOST=
SAGA_POSTGRES_PORT=


S3_ENDPOINT_URL=
S3_REGION=
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=

CURRENCY_API_URL=https://api.frankfurter.app/latest

AUTH_GRPC_PORT=
AUTH_METRICS_PORT=

USERS_GRPC_PORT=
USERS_METRICS_PORT=

FINANCE_GRPC_PORT=
FINANCE_METRICS_PORT=

ADMIN_GRPC_PORT=
ADMIN_METRICS_PORT=

CURRENCY_GRPC_PORT=
CURRENCY_METRICS_PORT=

SAGA_GRPC_PORT=
SAGA_METRICS_PORT=

SHOPPING_GRPC_PORT=
SHOPPING_METRICS_PORT=

GATEWAY_PORT=

POSTGRES_TIMEOUT=