JWT_SECRET=
JWT_DURATION=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=
POSTGRES_MAX_OPEN_CONNS=
POSTGRES_MAX_IDLE_CONNS=
POSTGRES_CONN_MAX_LIFETIME=

REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=
REDIS_POOL_SIZE=
REDIS_MIN_IDLE_CONNS=
REDIS_DIAL_TIMEOUT=
REDIS_READ_TIMEOUT=
REDIS_WRITE_TIMEOUT=

KAFKA_BROKERS=
KAFKA_TOPIC_OUTBOX=
KAFKA_TOPIC_USERS=
KAFKA_CONSUMER_GROUP=
KAFKA_SASL_ENABLED=
KAFKA_SASL_USER=
KAFKA_SASL_PASSWORD=
KAFKA_SASL_MECHANISM=
KAFKA_TLS_ENABLED=
KAFKA_CONSUMER_GROUP=

OUTBOX_POLL_INTERVAL=
OUTBOX_BATCH_SIZE=
OUTBOX_MAX_RETRIES=
OUTBOX_RETRY_DELAY=

LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs
LOGGER_ENCODING=
LOGGER_DISABLE_STACKTRACE=

TIME_ZONE=UTC

TLS_ENABLED=
TLS_CERT_FILE=
TLS_KEY_FILE=
TLS_CA_FILE=

USERS_GRPC_PORT=
USERS_METRICS_PORT=
USERS_HTTP_PORT=
USERS_GRPC_MAX_RECV_SIZE=
USERS_GRPC_MAX_SEND_SIZE=

HEALTH_CHECK_INTERVAL=
HEALTH_CHECK_TIMEOUT=

JAEGER_ENABLED=
JAEGER_AGENT_HOST=
JAEGER_AGENT_PORT=
JAEGER_SAMPLER_TYPE=
JAEGER_SAMPLER_PARAM=
JAEGER_SERVICE_NAME=

METRICS_ENABLED=
METRICS_PATH=
PROMETHEUS_PUSH_GATEWAY=

RATE_LIMIT_ENABLED=
RATE_LIMIT_REQUESTS=
RATE_LIMIT_DURATION=

CIRCUIT_BREAKER_ENABLED=
CIRCUIT_BREAKER_TIMEOUT=
CIRCUIT_BREAKER_MAX_REQUESTS=
CIRCUIT_BREAKER_ERROR_PERCENTAGE=

RETRY_MAX_ATTEMPTS=
RETRY_BACKOFF_INITIAL=
RETRY_BACKOFF_MAX=

BCRYPT_COST=
PASSWORD_MIN_LENGTH=
PASSWORD_REQUIRE_UPPER=
PASSWORD_REQUIRE_LOWER=
PASSWORD_REQUIRE_DIGIT=
PASSWORD_REQUIRE_SPECIAL=

EMAIL_VALIDATION_ENABLED=
EMAIL_VERIFICATION_REQUIRED=

MIGRATE_ON_START=
MIGRATE_DIR=