JWT_SECRET=
JWT_DURATION=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

REDIS_ADDR=

KAFKA_BROKERS=

LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

TIME_ZONE=UTC

TLS_ENABLED=

USERS_GRPC_PORT=
USERS_METRICS_PORT=