POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_TIMEOUT=10s

LOGGER_LEVEL=
LOGGER_FOLDER=

ADDRESS=:5050
SHUTDOWN_TIMEOUT=30s


TIME_ZONE=Europe/Moscow

JWT_SECRET=
JWT_DURATION=24h