POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

AUTH_POSTGRES_USER=
AUTH_POSTGRES_PASSWORD=
AUTH_POSTGRES_DB=
AUTH_POSTGRES_HOST=
AUTH_POSTGRES_PORT=

USERS_POSTGRES_USER=
USERS_POSTGRES_PASSWORD=
USERS_POSTGRES_DB=
USERS_POSTGRES_HOST=
USERS_POSTGRES_PORT=

FINANCE_POSTGRES_USER=
FINANCE_POSTGRES_PASSWORD=
FINANCE_POSTGRES_DB=
FINANCE_POSTGRES_HOST=
FINANCE_POSTGRES_PORT=

TLS_ENABLED=
TLS_CERT_FILE=
TLS_KEY_FILE=
TLS_CA_FILE=


LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

ADDRESS=
SHUTDOWN_TIMEOUT=30s

TIME_ZONE=UTC

JWT_SECRET=
JWT_DURATION=24h

REDIS_ADDR=

KAFKA_BROKERS=