JWT_SECRET=
JWT_DURATION=

REDIS_ADDR=

KAFKA_BROKERS=

LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

TIME_ZONE=UTC

TLS_ENABLED=
TLS_CERT_FILE=
TLS_KEY_FILE=
TLS_CA_FILE=

ADMIN_GRPC_PORT=
ADMIN_METRICS_PORT=

ADMIN_ADDRESS=