JWT_SECRET=
JWT_DURATION=

REDIS_ADDR=
KAFKA_BROKERS=

CURRENCY_API_URL=https://api.frankfurter.app/latest

LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

TIME_ZONE=UTC

TLS_ENABLED=

CURRENCY_GRPC_PORT=
CURRENCY_METRICS_PORT=