
JWT_SECRET=
JWT_DURATION=

GATEWAY_ADDRESS=
SHUTDOWN_TIMEOUT=30s

AUTH_SERVICE_ADDR=
USERS_SERVICE_ADDR=
FINANCE_SERVICE_ADDR=
ADMIN_SERVICE_ADDR=
CURRENCY_SERVICE_ADDR=

LOGGER_LEVEL=debug
LOGGER_FOLDER=./logs

TIME_ZONE=UTC

TLS_ENABLED=
TLS_CERT_FILE=
TLS_KEY_FILE=
TLS_CA_FILE=